<div class="hormones">
  <div class="hormone-list">
    @for (h of hormoneList; track h.key) {
      <div class="hormone-row">
        <div class="hormone-header">
          <span class="hormone-name">{{ h.name }}</span>
          <span class="hormone-value">{{ h.value | number:'1.1-1' }}</span>
        </div>
        <div class="hormone-bar-bg">
          <div class="hormone-bar-fill"
               [style.width.%]="h.value * 100"
               [style.background]="h.color"
               [style.box-shadow]="'0 0 8px ' + h.color + '40'">
          </div>
        </div>
      </div>
    }
  </div>
</div>
