<div class="workspace" [class.shell-open]="shellOpen()">
  <div class="workspace-main">
    <aside class="explorer-pane" [style.width.px]="explorerWidth()">
    <app-workspace-explorer
      [rootPath]="rootPath()"
      [activePath]="activePath()"
      [shellOpen]="shellOpen()"
      [busy]="uploading()"
      (fileOpen)="openFile($event)"
      (uploadFiles)="triggerFileUpload()"
      (uploadFolder)="triggerFolderUpload()"
      (toggleShell)="toggleShell()"
      (fileDeleted)="onFileDeleted($event)"
      (fileRenamed)="onFileRenamed($event)"
    />
    </aside>

    <div
      class="split-handle"
      (mousedown)="onResizeStart($event)"
      title="Drag to resize"
    ></div>

    <section class="editor-pane">
      <app-workspace-editor
        [tabs]="tabs()"
        [activePath]="activePath()"
        [shellOpen]="shellOpen()"
        (tabSelect)="selectTab($event)"
        (tabClose)="closeTab($event)"
        (save)="saveTab($event)"
      />
    </section>
  </div>

  @if (shellOpen()) {
    <div class="shell-pane">
      <app-workspace-terminal [cwd]="rootPath()" (closed)="shellOpen.set(false)" />
    </div>
  }

  <input
    #fileUploadInput
    type="file"
    multiple
    hidden
    (change)="onFilesSelected($event)"
  />
  <input
    #folderUploadInput
    type="file"
    multiple
    hidden
    webkitdirectory
    (change)="onFilesSelected($event)"
  />
</div>
